<div class="cd-section section-white" id="pricing">

    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile card-plain">
                <div class="card-body">
                    <div class="card-avatar">
                        <a href="#avatar">
                            <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                            <h4 class="card-title">Motorhome Rental</h4>
                        </a>
                    </div>
                    <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes orchestra to play it.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-profile card-plain">
                <div class="card-body">
                    <div class="card-avatar">
                        <a href="#avatar">
                            <img src="./assets/img/faces/joe- ardner-2.jpg" alt="...">
                            <h4 class="card-title">Sophia West</h4>
                        </a>
                    </div>
                    <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-profile card-plain">
                <div class="card-body">
                    <div class="card-avatar">
                        <a href="#avatar">
                            <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
                            <h4 class="card-title">Lucas Andrew</h4>
                        </a>
                    </div>
                    <p class="card-description text-center">
                        Great teams do not hold back with one another. They are unafraid to air their dirty laundry. They admit their mistakes, their weaknesses and their concerns without fear of reprisal.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#pablo" class="btn btn-just-icon btn-youtube"><i class="fa fa-youtube"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
