<div class="page-header">
  <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('./assets/img/tuerto.jpg')">

  </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h1 class="title">Estamos Actualizando nuestra Plataforma</h1>
                <h3 class="description">Volvemos Enseguida.</h3>
                <br />
            </div>
        </div>
    </div>

</div>
