<div class="team-1 body2">
  <div class="container body2 b3">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Our Stunning Team 1</h2>
        <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user
          engaged by providing meaningful information.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mw2">
        <div class="card card-profile card-plain">
          <div class="card-avatar"> 
            <a (click)="open(Notice, '')"><img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="..."></a>
          </div>
          <div class="card-body">
            <a (click)="open(Notice, '')">
              <div class="author">
                <h4 class="card-title" >Nicolas G.</h4>
                <h6 class="card-category text-muted">Developer</h6>
              </div>
            </a>
            <p class="card-description text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
          </div>
          <!--<div class="card-footer text-center">
            <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
           
          </div>-->
        </div>
      </div>
      <div class="col-md-3 mw2">
          <div class="card card-profile card-plain">
            <div class="card-avatar"> 
              <a (click)="open(Notice, '')"><img src="assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a (click)="open(Notice, '')">
                <div class="author">
                  <h4 class="card-title" >Mariana H.</h4>
                  <h6 class="card-category text-muted">Encargada General</h6>
                </div>
              </a>
              <p class="card-description text-center">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              </p>
            </div>
            <!--<div class="card-footer text-center">
              <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
             
            </div>-->
          </div>
        </div>
        <div class="col-md-3 mw2">
            <div class="card card-profile card-plain">
              <div class="card-avatar"> 
                <a (click)="open(Notice, '')"><img src="assets/img/faces/kaci-baum-2.jpg" alt="..."></a>
              </div>
              <div class="card-body">
                <a (click)="open(Notice, '')">
                  <div class="author">
                    <h4 class="card-title" >Nancy M.</h4>
                    <h6 class="card-category text-muted">Secretaria Admistrativa</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                </p>
              </div>
              <!--<div class="card-footer text-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
               
              </div>-->
            </div>
          </div>
          <div class="col-md-3 mw2">
              <div class="card card-profile card-plain">
                <div class="card-avatar"> 
                  <a (click)="open(Notice, '')"><img src="assets/img/faces/erik-lucatero-1.jpg" alt="..."></a>
                </div>
                <div class="card-body">
                  <a (click)="open(Notice, '')">
                    <div class="author">
                      <h4 class="card-title" >Erik L.</h4>
                      <h6 class="card-category text-muted">Vendedor</h6>
                    </div>
                  </a>
                  <p class="card-description text-center">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  </p>
                </div>
                <!--<div class="card-footer text-center">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                 
                </div>-->
              </div>
            </div>
            <div class="col-md-3 mw2">
                <div class="card card-profile card-plain">
                  <div class="card-avatar"> 
                    <a (click)="open(Notice, '')"><img src="assets/img/faces/asda.jpg" alt="..."></a>
                  </div>
                  <div class="card-body">
                    <a (click)="open(Notice, '')">
                      <div class="author">
                        <h4 class="card-title" >Kevin B.</h4>
                        <h6 class="card-category text-muted">Asistente</h6>
                      </div>
                    </a>
                    <p class="card-description text-center">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                  </div>
                  <!--<div class="card-footer text-center">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                   
                  </div>-->
                </div>
              </div>

      
  <ng-template #Notice let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">TITULO 1 POPUP PERSONA</h5>
      <button type="button" class="close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="instruction">
        <div class="row">
          <div class="col-md-8">
            <p> <strong>LOREM</strong> - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              <a href="https://paginaweb.com"> LINK
                Tim</a>.</p>
          </div>
          <div class="col-md-4">
            <div class="picture">
              <img src="assets/img/sections/angelo-pantazis.jpg" alt="Thumbnail Image" class="img-rounded img-responsive">
            </div>
          </div>
        </div>
      </div>
      <div class="instruction">
        <div class="row">
          <div class="col-md-8">
            <p> <strong>2. Apply</strong>   It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="col-md-4">
            <div class="picture">
              <img src="assets/img/sections/rawpixel-coms.jpg" alt="Thumbnail Image" class="img-rounded img-responsive">
            </div>
          </div>
        </div>
      </div>
      <p>(PRE- FOOT ACA)</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-link" (click)="c('Close click')">BOTON (volver back ok)</button>
    </div>
  </ng-template>

</div>


